
body{
    font-family: 'Roboto', sans-serif;
}
.ff-hammer{font-family: 'Hammersmith One', sans-serif;}
.ff-playfair{font-family: 'Playfair Display', serif;}
.fw-100{font-weight: 100;}
.fw-400{font-weight: 400;}
.fw-700{font-weight: 700;}
.fw-900{font-weight: 900;}
.h-2p{height: 2px;}
.h-88{height: 88%;}
.w-50p{width: 50px;}
.w-70{width: 70%;}
.w-85{width: 85%}
.w-90{width: 90%;}
.br-50{border-radius: 50%;}
.b-white{border: 1px solid #ffffff;}
.b-97969a{border: 1px solid #97969a;}
.obj-cover{object-fit: cover;}
.obj-contain{object-fit: contain;}



/*Color styles*/
.color-25c2ce{color: #25c2ce;}
.color-97969a{color: #97969a;}

/*Special styles*/
.bg-header{
    background-image: url(../files/bg-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-footer{
    background-image: url(../files/bg-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-newYork{
    background-image: url(../files/New-York.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.play-icon{
    background-image: url(../files/play.png);
    width: 37px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.desktop-icon{
    background-image: url(../files/icon1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.overlay-header{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0d0734;
    opacity: 0.85;
}
.menu a{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 900;
}
.menu a:hover{
    color: #00e0d0 !important;
    transition: 1.5s ease;
}

.separator{
    background-image: url(../files/Separator.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 1px;
}
.separator2{
    background-color: grey;
    width: 50px;
    height: 2px;
}

.dots span{
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 120px;
    display: inline-block;
    cursor: pointer;
}
.dots span:hover{
    background-color: #00e0d0 !important;
    transition: 1.5s ease;
}

.arrow {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0.9;
}

.pics img:hover {
    transform: scale(1.5) !important;
    transition: 1.5s ease;
}
.logo {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.zara-logo {
    background-image: url(../files/Zara_Logo.png);
}
.mango-logo{
    background-image: url(../files/Logo_of_Mango_\(new\).png);
}

.search-logo{
    background-image: url(../files/paper122.png);
    width: 25px;
    height: 25px;
    display: block;
    background-color: transparent;
    border: none;
}
.nav-logo{
    background-image: url(../files/footer-icon.png);
    width: 13px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
input::-webkit-input-placeholder {
    font-size: 14px;
}

.box {
    width: 70px;
    height: 45px;
    background-color: #a199b3;
    position: absolute;
    top: 0;
    right: 0;
}

.sosial-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #e7e6eb;
    border-radius: 50%;
}

.fb-icon{
    background-image: url(../files/fb-sosial.png);
    display: block;
    width: 7px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* Small */
@media (min-width: 576px) {
}

/* Medium */
@media (min-width: 768px) {

}

/* Large */
@media (min-width: 992px) {
.fs-lg-30{font-size: 30px;}
.fs-lg-12{font-size: 12px;}
.fs-lg-13{font-size: 13px;}
.fs-lg-14{font-size: 14px;}
.fs-lg-15{font-size: 15px;}
.fs-lg-16{font-size: 16px;}
.fs-lg-22{font-size: 22px;}
.fs-lg-50{font-size: 50px;}
.fs-lg-100{font-size: 100px;}
.h-lg-45{height: 45px;}
.h-lg-50{height: 50px;}
.h-lg-70{height: 70px;}
.h-lg-100{height: 100px;}
.h-lg-190{height: 190px;}
.h-lg-400{height: 400px;}
.h-lg-500{height: 500px;}
.h-lg-550{height: 550px;}
.h-lg-660{height: 660px;}
.h-lg-712{height: 712px;}

.w-lg-50{width: 50px;}
.w-lg-100{width: 100px;}
.w-lg-130{width: 130px;}


}

/* Extra Large */
@media (min-width: 1200px) {

}

