body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none !important;
}

img {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Raleway Heavy';
    src: url(../css/Raleway-Heavy.ttf);
}


/* General styles */

.ff-raleheavy {
    font-family: 'Raleway Heavy';
}

.ff-rale {
    font-family: 'Raleway', sans-serif;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.obj-contain {
    object-fit: contain;
}

.lh-03 {
    line-height: 0.3;
}

.lh-05 {
    line-height: 0.5;
}

.lh-09 {
    line-height: 0.9;
}

.lh-12 {
    line-height: 1.2;
}

.w-30 {
    width: 30px;
}

.w-70 {
    width: 70px;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.h-30 {
    height: 30px;
}

.h-44 {
    height: 44px;
}


/* Border styles */

.b-white {
    border: 1px solid #ffffff
}

.b-4f5d73 {
    border: 3px solid #4f5d73;
}

.br-10 {
    border-radius: 10%;
}


/* Bg and Color styles */

.bg-202020 {
    background-color: #202020;
}

.bg-171717 {
    background-color: #171717;
}

.bg-ffd800 {
    background-color: #ffd800;
}

.bg-f0f0f0 {
    background-color: #f0f0f0;
}

.color-ffd800 {
    color: #ffd800;
}

.color-919191 {
    color: #919191;
}

.color-b5b5b5 {
    color: #b5b5b5;
}

.color-cecece {
    color: #cecece;
}

.color-4f4f4f {
    color: #4f4f4f;
}


/* Special styles */

.shape-icon {
    background-image: url(../files/Shape-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.atlas-icon {
    background-image: url(../files/atlas.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 170px;
    height: 29px;
}

.tick-icon {
    background-image: url(../files/check-tick-icon-14173.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.tick-pos {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
}

.bob-icon {
    background-image: url(../files/bob-marley.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.bob-pos {
    position: absolute !important;
    right: 0;
    bottom: 0;
}

.car-icon {
    background-image: url(../files/car.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 70px;
    height: 56px;
}

.service:hover {
    background-color: #ffd800;
    transition: 1.5s ease;
}

.star {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    display: block;
}

.star-icon {
    background-image: url(../files/star3.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.stars a {
    margin-left: 5px;
}

.stars a:first-child {
    margin-left: 0px;
}

.btn-type {
    box-shadow: inset 0px 0px 6px #e5c200;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5c200), color-stop(100%, #e5c200));
}

.sosials {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 18px;
    border-radius: 50%;
}

.twiter-icon {
    background-image: url(../files/twitter_PNG1.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}


/* Small */

@media (min-width: 576px) {}


/* Medium */

@media (min-width: 768px) {}


/* Large */

@media (min-width: 992px) {
    .fs-lg-14 {
        font-size: 14px;
    }
    .fs-lg-15 {
        font-size: 15px;
    }
    .fs-lg-18 {
        font-size: 18px;
    }
    .fs-lg-20 {
        font-size: 20px;
    }
    .fs-lg-22 {
        font-size: 22px;
    }
    .fs-lg-23 {
        font-size: 23px;
    }
    .fs-lg-26 {
        font-size: 26px;
    }
    .fs-lg-28 {
        font-size: 28px;
    }
    .fs-lg-30 {
        font-size: 30px !important;
    }
    .fs-lg-34 {
        font-size: 34px;
    }
    .fs-lg-38 {
        font-size: 38px;
    }
    .fs-lg-40 {
        font-size: 40px;
    }
    .fs-lg-60 {
        font-size: 60px;
    }
    .fs-lg-72 {
        font-size: 72px;
    }
    .fs-lg-100 {
        font-size: 100px;
    }
    .w-lg-63 {
        width: 63px;
    }
    .w-lg-104 {
        width: 104px;
    }
    .w-lg-170 {
        width: 170px;
    }
    .w-lg-460 {
        width: 460px;
    }
    .h-lg-42 {
        height: 42px;
    }
    .h-lg-104 {
        height: 104px;
    }
    .h-lg-300 {
        height: 300px;
    }
    .h-lg-500 {
        height: 500px;
    }
    .h-lg-597 {
        height: 597px;
    }
}


/* Extra Large */

@media (min-width: 1200px) {}