@font-face {
    font-family: 'Crimson Roman';
    src: url(crimsontext.ttf);
}

.ff-crimson {
    font-family: 'Crimson Text', serif;
}

.ff-crimsonR {
    font-family: 'Crimson Roman';
}

.ff-mont {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}

a:hover {
    text-decoration: none !important;
    color: #b9bed1 !important;
}


/* General styles */

.lh-0 {
    line-height: 0;
}

.lh-1 {
    line-height: 1;
}

.c-pointer {
    cursor: pointer;
}

.ops-0 {
    opacity: 0;
}

.obj-none {
    object-fit: none;
}

.obj-contain {
    object-fit: contain;
}

.obj-cover {
    object-fit: cover;
}

.fw-bold {
    font-weight: bold;
}

.fw-900 {
    font-weight: 900;
}

.b-e3e8f0 {
    border: 1px solid #e3e8f0;
}

.br-f2f2f2 {
    border-right: 2px solid #f2f2f2;
}

.bl-f2f2f2 {
    border-left: 2px solid #f2f2f2;
}

.bb-f2f2f2 {
    border-bottom: 1px solid #f2f2f2;
}

.bb-2d2e33 {
    border-bottom: 1px solid #2d2e33;
}

.b-radius-50 {
    border-radius: 50%;
}

.transition {
    transition: all 1s ease;
}

.overflow-h {
    overflow: hidden;
}

.menu li a {
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sign {
    background: transparent;
    border: 1px solid #e3e8f0;
    color: black !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    transition: all 1s ease;
}

.sign:hover {
    background-color: black;
    color: wheat !important;
    transition: all 1s ease;
}

.rounded {
    position: absolute;
    left: 0;
    bottom: 5%;
}

.rounded span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #e3e8f0;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 1s ease;
    cursor: pointer;
}

.rounded span:hover {
    background-color: white;
    transition: all 1s ease;
}

.arrow:hover {
    background-color: white;
    transition: all 1s ease;
}

.arrow span:hover {
    color: black !important;
    transition: all 1s ease;
}

.tick {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../files/Checkbox-BG-On.png);
    display: block;
}

.tick-icon {
    background-image: url(../files/Open-Icon.png);
    width: 11px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    color: white;
}

.drop-icon {
    display: inline-block;
    width: 6px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../files/Open-Icon-line.png);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.8s ease-out 0s;
}

.main:active .drop-icon {
    transform: rotate(90deg);
    transition: all 0.8s ease-out 0s;
}

.main {
    border-bottom: 1px solid #f2f2f2;
}

.main:last-child {
    border-bottom: none;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 1px solid #eff1f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check:after {
    content: url(../files/Selected-Dot.png);
    position: absolute;
    display: none;
    line-height: 0;
}

.radio input:checked~.check:after {
    display: block;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 1px solid #eff1f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:after {
    content: url(../files/Check-Icon.png);
    position: absolute;
    display: none;
    line-height: 0;
}

.checkbox input:checked~.box:after {
    display: block;
}

.checkbox input:checked~.box {
    background-color: #00e2aa;
}

.price {
    position: absolute;
    top: 10px;
    left: 10px;
}

.page-count li {
    padding: 0 16px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    line-height: 2.5;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.page-count li:hover {
    transition: all 0.3s ease 0s;
    box-shadow: 0px 10px 20px 5px rgba(225, 226, 231, 1);
    line-height: 2.5;
    color: #e5e7ed;
    border: 1px solid #e3e8f0;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.prev-page-count {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: fit-content;
    cursor: pointer;
}

.next-page-count {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: fit-content;
    cursor: pointer;
}

.line39 {
    text-decoration: line-through;
}

.twitter-icon {
    width: 100%;
    height: 100%;
    background-image: url(../files/Twitter-Icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.fb-icon {
    width: 100%;
    height: 100%;
    background-image: url(../files/Facebook-Icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.google-icon {
    width: 100%;
    height: 100%;
    background-image: url(../files/G+-Icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-footer li {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    margin-left: 30px;
    cursor: pointer;
}

.menu-footer li:first-child {
    margin-left: 0;
}

.footer-icons {
    margin-left: 30px;
}

.footer-icons:first-child {
    margin-left: 0;
}


/* Background styles */

.bg-fffff {
    background-color: #ffffff;
}

.bg-e3e8f0 {
    background-color: #e3e8f0;
}

.bg-1c1e23 {
    background-color: #1c1e23;
}

.bg-e4e5e7 {
    background-color: #e4e5e7;
}

.bg-222328 {
    background-color: #222328;
}


/* Color styles */

.color-black {
    color: black !important;
}

.color-bdc3d6 {
    color: #bdc3d6;
}

.color-b9bed1 {
    color: #b9bed1;
}


/* Measure styles */

.w-23 {
    width: 23px;
}

.w-40 {
    width: 40px;
}

.w-10p {
    width: 10% !important;
}

.w-65p {
    width: 65%;
}

.w-70p {
    width: 70%;
}

.w-220 {
    width: 220px;
}

.h-5 {
    height: 5px;
}

.h-6 {
    height: 6px;
}

.h-23 {
    height: 23px;
}

.h-25p {
    height: 25px !important;
}

.h-40 {
    height: 40px;
}

.h-180 {
    height: 180px;
}

.h-200 {
    height: 200px;
}

.h-fit {
    height: fit-content;
}


/* Small */

@media (min-width: 576px) {}


/* Medium */

@media (min-width: 768px) {}


/* Large */

@media (min-width: 992px) {
    .fs-lg-11 {
        font-size: 11px;
    }
    .fs-lg-12 {
        font-size: 12px;
    }
    .fs-lg-13 {
        font-size: 13px;
    }
    .fs-lg-14 {
        font-size: 14px;
    }
    .fs-lg-16 {
        font-size: 16px;
    }
    .fs-lg-18 {
        font-size: 18px !important;
    }
    .fs-lg-26 {
        font-size: 26px;
    }
    .fs-lg-42 {
        font-size: 42px;
    }
    .w-lg-20 {
        width: 20px;
    }
    .w-lg-40 {
        width: 40px;
    }
    .w-lg-60 {
        width: 60px;
    }
    .w-lg-200 {
        width: 200px;
    }
    .h-lg-20 {
        height: 20px;
    }
    .h-lg-32 {
        height: 32px;
    }
    .h-lg-40 {
        height: 40px;
    }
    .h-lg-90 {
        height: 90px;
    }
    .h-lg-220 {
        height: 220px;
    }
    .h-lg-284 {
        height: 284px;
    }
    .h-lg-500 {
        height: 500px;
    }
}


/* Extra Large */

@media (min-width: 1200px) {}